.MainPage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}
canvas {
  position: fixed;
  margin: 0;
  padding: 0;
}
.canvasWindows {
  display: flex;
}
.fps-counter-view {
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: inherit;
  color: #0CF8E8;
  z-index: 1;
}
.Sticks {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  position: fixed;
  top: 65%;
  width: 100%;
}
.Sticks .leftStick {
  width: 100px;
}
.Sticks .rightStick {
  width: 100px;
}
#ButtonSkills_1 {
  bottom: 115px;
  right: 5px;
}
#ButtonSkills_2 {
  bottom: 110px;
  right: 65px;
}
#ButtonSkills_3 {
  bottom: 60px;
  right: 95px;
}
