.MainPage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}
canvas {
  position: absolute;
  margin: 0;
  padding: 0;
}
.canvasWindows {
  display: flex;
}
.fps-counter-view {
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: inherit;
  color: #0CF8E8;
  z-index: 1;
}
.Sticks {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  position: fixed;
  top: 65%;
  width: 100%;
}
.Sticks .leftStick {
  background-color: grey;
}
.Sticks .rightStick {
  background-color: grey;
}
