@import "../../../variables";

.dropDownButton {
   &_container {

      &-button {
         -webkit-appearance: none;
         -moz-appearance: none;
         .border(1px);
         border-radius: 1px;
         color: @textColorTheme;
         font-size: 0.7em;
         background: @backgroundColorTheme;
         width: 100%;
         &:hover {

            background: @backgroundHoverColorTheme;
         }
         &:focus {
            outline: none;
            background: @backgroundFocusColorTheme;
         }
         &:focus .dropDown_contentContainer {
            display: flex;
         }
         &[disavled] {
            color: @disavledColor;
            background: @disavledBackgroundColor;
            cursor: not-allowed;
         }

      }
   }
}

.dropDown_contentContainer {
   .dropDownButtonContainer(1);
   max-height: 300px;
   overflow: auto;
   &-content {
      color: @textColorTheme;
      padding: 12px 16px;
      text-decoration: none;
      display: flex;
   }
   &-content {
      &:hover {
         background: @backgroundHoverColorTheme;
      }
      &:hover .dropDown_arrayListContainer {
         display: flex;
      }
      &:active {
         outline: none;
         background: @backgroundFocusColorTheme;
      }
   }
}

.dropDown_arrayListContainer {
   .dropDownButtonContainer(5);
   &:focus {
      display: flex;
   }
}

.dropDownButtonContainer(@z-index) {
   display: none;
   position: fixed;
   background-color: @backgroundColorTheme;
   min-width: 160px;
   box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
   flex-direction: column;
   justify-content: flex-start;
   z-index: @z-index;
}