@import "../../../variables";

.tab {
   &_container {
      margin: 5px 5px 0 5px;
      height: inherit;
   }
   &_container_header {
      display: flex;
      align-items: flex-end;
   }
   &_container_header-setting {
      width: 20%;
      display: flex;
      justify-content: flex-end;
   }
   &_container_header-setting-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      .border(1px);
      border-radius: 1px;
      color: @textColorTheme;
      font-size: 0.7em;
      background: @backgroundColorTheme;
      &:hover {
         background: @backgroundHoverColorTheme;
      }
      &:focus {
         outline: none;
         background: @backgroundFocusColorTheme;
      }
      &[disavled] {
         color: #d2d5db;
         background: #6c7589;
         cursor: not-allowed;
      }
      &-setting {

      }

   }
   &_container_header-buttonArray {
      width: 80%;
      display: flex;
   }
   &_container_header-buttonArray-button.active {
      outline: none;
      background: @backgroundFocusColorTheme;
   }
   &_container_header-buttonArray-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      .border(1px);
      border-radius: 1px;
      color: @textColorTheme;
      font-size: 0.7em;
      background: @backgroundColorTheme;
      &:hover {

         background: @backgroundHoverColorTheme;
      }
      &:focus {
         outline: none;
         background: @backgroundFocusColorTheme;
      }
      &[disavled] {
         color: @disavledColor;
         background: @disavledBackgroundColor;
         cursor: not-allowed;
      }
      &-setting {

      }
   }

   &_container-tabArea {
      height: 80%;
      .border(1px);
      border-radius: 1px;
      width: 100%;
      color: @textColorTheme;
   }
}

.tablinks.active {
   overflow: hidden;
}

.tabcontent {
   display: none;
}

.tabcontent.active {
   display: flex;
}