.project {

  &_container {
    &-elementContainer {
      display: flex;
      flex-direction: row;
      &_element {
        width: 100px;
        height: 100px;
        &-image {

        }
        &-text {

        }
      }
    }
  }
}