.Sticks{
  display: flex;
  justify-content: space-between;
  z-index: 1;
  position: fixed;
  top:65%;
  width: 100%;
  .leftStick{
    width: 100px;
  }
  .rightStick{
    width: 100px;
  }
}
#UserButtonSkills_1{
  bottom: 115px;
  right: 5px;
 }
#UserButtonSkills_2{
  bottom: 110px;
  right: 65px;
}
#UserButtonSkills_3{
  bottom: 60px;
  right: 95px;
}