.Sticks{
  display: flex;
  justify-content: space-between;
  z-index: 1;
  position: fixed;
  top:65%;
  width: 100%;
  .leftStick{
    background-color: grey;
  }
  .rightStick{

    background-color: grey;
  }
}
