@import "../../../Client/variables";
.container(@width,@height) {
   display: flex;
   justify-content: flex-end;
   align-items: flex-end;
   width: @width;
   height: @height;
}

.controlsContainer {
   justify-content: space-between;
   display: flex;
   width: 11em;
   height: 6em;
   .transparent-background(0.51);

   flex-wrap: wrap;
}

.playerControls-container {
   .container(100%, 100%);

   &__playerControls {
      .controlsContainer;
   }
}

.playerControls-containerMobile {
   .container(35%, 50%);

   &__playerControls {
      .controlsContainer;

      flex-direction: column;
   }
}
