@import "../../../variables";

.buttonStatus {
   &:hover {
      background: #595959;
   }

   &:focus {
      outline: none;
      background: #202020;
   }

   &[disavled] {
      color: #d2d5db;
      background: #6c7589;
      cursor: not-allowed;
   }
}

.button {
   font-family: FontAwesome;

   &_container {
      &-button {
         -webkit-appearance: none;
         -moz-appearance: none;
         appearance: none;
         .border(1px);

         border-radius: 1px;
         color: @textColorTheme;
         font-size: 0.7em;
         background: @backgroundColorTheme;
         .buttonStatus;
      }

      &-button:before {
         width: 30px;
         height: 30px;
         -webkit-appearance: none;
         -moz-appearance: none;
         appearance: none;
         .border(1px);

         border-radius: 1px;
         color: @textColorTheme;
         font-size: 0.7em;
         background: @backgroundColorTheme;
         .buttonStatus;
      }
   }
}

.editorButton {
   &_container {
      &-button {
         -webkit-appearance: none;
         -moz-appearance: none;
         appearance: none;
         .border(1px);

         border-radius: 1px;
         color: @textColorTheme;
         font-size: 0.7em;
         background: @backgroundColorTheme;
         width: 3em;
         height: 3em;
         display: flex;
         justify-content: center;
         align-items: center;
         .buttonStatus;
      }
   }
}
