@import "../../../Client/variables";

.mapParams {
   display: flex;
   width: 100%;
   height: 100%;
   justify-content: flex-end;
   align-items: flex-start;
}

.mapFigure {
   border-radius: 50%;
   .transparent-background(0.51);

   margin: 1em 1em 0 0;
}

.map-container {
   .mapParams();

   &__map {
      width: 10em;
      height: 10em;
      .mapFigure();
   }
}

.map-containerMobile {
   .mapParams();

   &__map {
      width: 7em;
      height: 7em;
      .mapFigure();
   }
}
