@import "../variables";
.companyThemeSize {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   border: 1px;
   border-radius: 18px;
   color: @textColorTheme;
   font-size: 1em;
   background-color: @backgroundFocusColorTheme;

   &:focus {
      outline: none;
   }
}

.Authorization_page {
   background-color: @backgroundColorTheme;
   width: 100%;
   height: 100%;
   position: absolute;
   color: @textColorTheme;

   &-projectName {
      display: flex;
      justify-content: center;
      position: absolute;
      top: 30%;
      left: 40%;
   }

   &-container {
      height: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
   }

   &-window {
      width: 30%;
      height: 50%;
      border: none;
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: @backgroundColorTheme;

      &-controls {
         display: flex;
         flex-direction: column;
      }

      &-controls-button {
         display: flex;
         justify-content: space-around;
         align-items: center;
         flex-direction: column;
         height: 40%;
      }

      &-controls-button_login {
         width: 90px;
         height: 90px;
         font-size: larger;
         border-radius: 50px !important;
         border: 8px solid @backgroundColorTheme !important;
         position: absolute;
         top: 30%;
         left: 58%;
         .companyThemeSize;

      }

      &-controls-button_registration {
         height: 50%;
         width: 70%;
         margin-top: 1%;
         font-size: larger;
         border: 1px solid;
         border-radius: 5px;
         .companyThemeSize;
      }

      &-controls-input {
         display: flex;
         justify-content: space-around;
         flex-direction: column;
         align-items: center;
         margin-bottom: 3%;
         height: 40%;
      }

      &-controls-input_password {
         height: 50%;
         width: 70%;
         margin-top: 1%;
         font-size: 2.5em;
         .companyThemeSize;
      }

      &-controls-input_login {
         height: 50%;
         width: 70%;
         font-size: 2.5em;
         .companyThemeSize;
      }
   }

   &_additionalInformation {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      height: 10%;

      &-version {
         display: flex;
         flex-direction: row;
         justify-content: flex-start;
      }

      &-developerName {
         display: flex;
         flex-direction: row;
         justify-content: flex-end;
      }
   }
}
