@import "../../../variables";

.hierarchy {
  &_container {
    overflow: auto;
    width: inherit;
    display: flex;
    flex-direction: column;
    padding-left: 0;

    &-progressBarStatus {
      display: none;
    }

    &_containerItem {
      list-style-type: none;
      display: flex;
      flex-direction: row;

      &-list {
        display: flex;
        flex-direction: column;
        padding-left: 1em;

      }

      &_view {
        margin-top: 5px;
        display: flex;
        align-items: center;
        cursor: pointer;

        img {
          margin: 0 5px 0 0;
          width: 20px;
          height: 20px;
        }

        &-selected {
          background-color: #202020;
        }
      }

      &-nodeButton {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: 0;
        color: @textColorTheme;
        font-size: 0.7em;
        background: @backgroundColorTheme;

        &:focus {
          outline: none;
        }

        &-selected {
          background-color: #202020;
        }
      }

      &_array {
        display: none;

        &-visible {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
