
.inspector {
  &_container {
    width: inherit;
    height: 90%;
    &__file{
      &-container{
        height: 100%;
        &_header{
          height: 10%;
          display: flex;
          justify-content: space-between;
        }
        &_body{
          height: 90%;
          word-break: break-word;
          overflow: auto;
        }
      }
    }
    &-buttonAddContainer {
      display: flex;
      justify-content: center;
      width: inherit;
      height: 10%;
      &_button {
        margin: 5px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: 1px solid #595959;
        border-radius: 1px;
        color: #8a8a8a;
        font-size: 0.7em;
        background: #2A2A2A;
        &:hover {

          background: #595959;
        }
        &:focus {
          outline: none;
          background: #202020;
        }
        &[disavled] {
          color: #d2d5db;
          background: #6c7589;
          cursor: not-allowed;
        }
      }
    }
  }
}

