@import "../../../variables";

.container {
   position: fixed;
   width: 100%;
   height: 100%;
   justify-content: center;
   align-items: center;
   z-index: 1;
}

.buttonContainer(@width,@height) {
   &-buttonContainer {
      width: @width;
      height: @height;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      &-button {
         .border(1px);

         margin: 2vw 0;
         border-radius: 10px;
         color: @textColorTheme;
         font-size: 1vw;
         background: @backgroundColorTheme;
         width: 40%;
         height: 40%;
         display: flex;
         align-items: center;
         justify-content: center;
      }
   }
}

.dialogPopup(@width,@height) {
   display: flex;
   flex-direction: column;
   width: @width;
   height: @height;
   background-color: @backgroundColorTheme;
   .border(1px);

   align-items: center;
   justify-content: center;

   &-textMessage {
      margin: 5px;
      color: @specialTextColor;
      width: 70%;
      font-size: 1em;
      text-align: center;
      overflow: auto;
   }
}

.dialogPopup-container {
   .container;

   &__dialogPopup {
      .dialogPopup(25%, 25%);

      .buttonContainer(100%, 50%);
   }
}

.dialogPopup-containerMobile {
   .container;

   &__dialogPopup {
      .dialogPopup(50%, 50%);
      .buttonContainer(100%, 100%);
   }
}
