@import "../../../variables";

.topMenu {
   &_container {
      width: inherit;
      height: 47%;
      display: flex;
      align-items: center;
      background-color: @backgroundColorTheme;

      &-components {
         display: flex;
         align-items: center;
         margin-left: 5px;
      }
   }
}
